<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- scss -->
    <link rel="stylesheet" href="./dist/css/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    
    <title>Teambit</title>

</head>
<body>

    <div id="root">

    <!-- header -->
    <header>
        <div class="container">
        <nav class="flex">
            <div class="nav_left flex">
                <img src="./assets/img/logo/logo.svg" alt="">
            </div>
            <div class="nav_right flex">
                <ul>
                    <li v-for="(item, index) in navbar" :key="index">
                        <a href="">
                        {{item}}
                        </a>
                    </li>
                    <button class="btn">
                        <img :src="logo_google" width="                   15px" alt="">
                        Sign Up
                    </button>
                </ul>
            </div>
            <div class="nav_mobile flex none">
                <i class="fas fa-bars" @click="openNav()"></i>
            </div>
            <div id="collapse" class="none">
                <ul>
                    <li v-for="(item, index) in navbar" :key="index">
                        <a href="">
                        {{item}}
                        </a>
                    </li>
                    <button class="btn">
                        <img :src="logo_google" width="                   15px" alt="">
                        Sign Up
                    </button>
                </ul>
            </div>
        </nav>

        <div class="jumbo flex wrap">
            <div class="jumbo_left flex column">
                <h1>Understand, recognize and develop your people</h1>
                <p>Teambit helps teams create a high performing culture with regular feedback.</p>
                 <div class="flex sign_up">
                     <button class="btn">
                         <img :src="logo_google" style="width: 15px;" alt="">
                         Sign up with Google</button>
                         <span>or</span>
                     <button class="btn">
                         <img :src="logo_slack" style="width: 15px;" alt="">
                         Sign up with Slack</button>
                 </div>
                 <div class="email_signup">
                     <a href="" class="email_signup">or use your email address <i class="fas fa-arrow-right"></i></a>
                 </div>
            </div>
            
            <div class="jumbo_right flex">
                <img src="./assets/img/header/jumbotron/illustration-main.jpg" alt="">
            </div>
        </div>
        
        </div>
    </header>
    <!-- main -->
    <main>
        <section id="main_first" class="flex column">
            <div class="container">
                <div v-for="(title, index) in main_first_section" :key="index" class="flex main_card_container">
                    <h2> {{title.title}}</h2>
                    <div class="flex column card_main" v-for="(card, index) in title.cards" :key="index">
                        <img :src="card.img" alt="">
                        <p>{{card.text}}</p>
                    </div>
                    <img :src="title.jumbo_pic" style="width: 250px;" alt="">
                </div>
            </div>
        </section>
         <section id="main_second" class="flex column">
             <div class="container">
                 <div v-for="(title, index) in main_second_section" :key="index" class="flex main_card_container">
                     <h2> {{title.title}}</h2>
                     <div class="flex column card_main" v-for="(card, index) in title.cards" :key="index">
                         <img :src="card.img" alt="">
                         <p>{{card.text}}</p>
                     </div>
                     <img :src="title.jumbo_pic" style="width: 250px;" alt="">
                 </div>
             </div>
         </section>


         <section id="main_third" class="flex column">
             <div class="flex info_main" v-for="(item, index) in main_third_section" :key="index">
                 <div class="info_card flex">
                    <div class="flex info_card_img">
                        <img :src="item.left_img" style="width: 100%;" alt="">
                    </div>
                    <div class="flex column info_card_description">
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                        <a href="">Learn more <i class="fas fa-arrow-right"></i></a>
                        <img :src="item.right_img" style="width: 100%;" alt="">
                    </div>
                </div>
             </div>
         </section>

         <section id="main_fourth" class="flex column">
             <div class="chat column flex">
                 <h1>See Teambit for yourself. Get started in seconds <img src="./assets/img/main/section_4/happy.svg" alt=""></h1>

                 <div class="card_chat flex column">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iusto, placeat ipsum soluta et natus?</p>
                     <br>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptate eligendi commodi sapiente cupiditate, sunt vel! Accusantium nihil libero quaerat et atque similique, voluptate temporibus maiores ut deleniti eum saepe suscipit. </p>
                     <br>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente, quam quasi veritatis nobis accusantium.</p>
                     <br>
                     <div class="sender flex">
                         <img src="./assets/img/main/section_4/alex.png"alt="">
                         <img src="./assets/img/main/section_4/bohdan.png" alt="">
                         <div class="sender_details flex column">
                             <p>Alex and Bohdan</p>
                             <span>Co-Founders at Teambit</span>
                         </div>
                     </div>
                 </div>
                 <div class="btn_chat flex">
                   <button class="btn">
                       <img :src="logo_google" style="width: 15px;" alt="">
                       Sign up with Google</button>
                   <span>or</span>
                   <button class="btn">
                       <img :src="logo_slack" style="width: 15px;" alt="">
                       Sign up with Slack</button>
                       </div>
                       <div class="email_signup">
                           <a href="" class="email_signup">or use your email address <i
                                   class="fas fa-arrow-right"></i></a>
                       </div>
             </div>
         </section>
    </main>
    <!-- footer -->
    <footer>
        <div class="container flex">
            <div class="flex a">
                <img src="./assets/img/logo/logo-small.svg" alt="">
                <h3>
                <span>Teambit</span>
                helps teams create high performing cultures by making feedback a daily habit.</h3>
            </div>
            <div class="flex b">
               <div class="flex column" v-for="(item, index) in footer" :key="index">
                   <h2>{{item.title}}</h2>
                   <ul>
                       <li v-for="(element, index) in item.element" :key="index">
                           {{element}}
                       </li>
                   </ul>
               </div>
            </div>
        </div>
    </footer>
    </div>

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- js -->
    <script src="./dist/js/script.js"></script>
</body>
</html>