* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text_color;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.active {
    display: inline-block;
}

.none {
    display: none;
}

.container {
    width: 80%;
    margin: auto;
}

.wrap {
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

section {
    padding: 30px 0px;
}