main {

    #main_first,#main_second {
    background-color: $main_color;

        .main_card_container {
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 80px;
            
            h2{
                margin-bottom: 50px;
                padding: 0px 100px;
                text-align: center;
                width: 100%;
            }
            
            .card_main {
                width: calc(100%/3);
                align-items: center;
                justify-content: space-around;
                img {
                    height: 40%
                    
                }
                
            }

            img {
                margin-top: 50px;
            }
        }

    }

    #main_first {
        .main_card_container {
            border-bottom: 1px solid lightgrey;
        }
    }

    #main_third {

        .info_main {
            margin-top: 30px;
        }

        .info_main:nth-child(2n+2) {
            justify-content: flex-end;
            .info_card {
                flex-direction: row-reverse;
            }
        }

        .info_card {
            flex-wrap: wrap;
            .info_card_img {
                width: 60%;
                padding-bottom: 100px;
            }
            .info_card_description {
                width: 20%;
                justify-content: space-between;
                h2{
                    line-height: 2;
                }
                p {
                    line-height: 2;
                }
            }
            
        }
        
    }
  

    #main_fourth {
        background-color: $main_color;
        justify-content: center;
        align-items: center;
        .chat {
            align-items: center;
            width: 50%;
            h1 {
                text-align: center;
                font-size: 45px;
                line-height: 2;
            }
            .card_chat {
                background-color: $text_white;
                border: 1px solid $sign_up_color;
                border-radius: 10px;
                padding: 30px;
                justify-content: space-between;
                .sender {
                    width: 80%;
                    justify-content: space-between;
                    .sender_details {
                        p{
                            color: $sign_up_color;
                        }
                        justify-content: center;
                    }
                }
            }


            .btn_chat {
                align-items: center;
                margin: 30px 0px;
                .btn {
                    @include btn;
                }
            }

        }

    }
    
    }

    

  
