@media all and (min-width: 320px) and (max-width: 550px) {

    .jumbo {
        .jumbo_left,.jumbo_right, .sign_up {
            width: calc(100%) !important;
            text-align: center;
        }
          .jumbo_right {
              img {
                  height: 100% !important;
              }
          }
        .sign_up {
            justify-content: center;
        }
    }
    

    .card_main {
        width: calc(100%) !important;
    }


     .info_card {
         flex-wrap: wrap;

         .info_card_img {
             width: 100% !important;
             padding-bottom: 100px;
             align-items: center;
             justify-content: center;

             img {
                 width: 80% !important;
             }
         }

         .info_card_description {
             width: 100% !important;
             justify-content: space-between;
             align-items: center;
             h2 {
                 text-align: center;
             }
             p {
                 margin: 20px 20px;
                 text-align: center;
             }
             a {
                 margin: 20px 0px;
             }

             img {
                 width: 60% !important;
             }
         }

     }


     .chat {
         width: 80% !important;
         h1 {
             width: 70% !important;
         }
          .sender {
              width: 100% !important;
          }
     }

     footer {
         .container {
             width: 90%;
             flex-wrap: wrap;
         }

         .a {
             width: 100%;
             align-items: center;
             line-height: 2;
            h3 {
                padding-left: 10px;
            }
             img {
                 width: 150px;
             }
         }

         .b {
             width: 100%;
             flex-wrap: wrap;
             justify-content: flex-start;
             padding: 0;

             div {

                 margin-top: 20px;
                 width: calc(100%/3) !important;
             }
         }
     }
}

@media all and (min-width: 551px) and (max-width: 998px) {
    .jumbo {
        .jumbo_left,
        .jumbo_right {
            width: calc(100%) !important;
            text-align: center !important;

        }
        .jumbo_right {
            img {
                height: 100% !important;
            }
        }
        .sign_up {
            justify-content: center;
        }
    }

     .card_main {
         width: calc(100%) !important;
     }


      .info_card {
          flex-wrap: wrap;

          .info_card_img {
              width: 100% !important;
              padding-bottom: 100px;
              align-items: center;
              justify-content: center;
              img {
                  width: 80% !important;
              }
          }

          .info_card_description {
              width: 100% !important;
              justify-content: space-between;
              align-items: center ;

              h2 {
                   text-align: center;
               }
              p {
                  margin: 30px 20px;
                  text-align: center;
              }
              a {
                  margin: 20px 0px;
              }
              img {
                  width: 60% !important;
              }
          }

      }

      .chat {
          width: 80% !important;
          h1 {
              width: 70% !important;
          }

          .sender {
              width: 60% !important;
          }
      }

      footer {
          .container {
              flex-wrap: wrap;
          }
          .a {
              width: 100%;
              align-items: center;
              line-height: 2;
              img {
                  width: 150px;
              }
          }
          .b {
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-between;
              padding: 0;
              div {

                  margin-top: 20px;
                  width: calc(100%/3) !important; 
              }
          }
      }


}

@media all and (min-width: 999px) {

     
}